:root {
  --bg-color: #fff;
  --dark-color: #1a403f;
  --accent-color: #a3c5ba;
}

body {
  font-family: "Montserrat", serif;
  font-weight: 300;
  background-color: var(--bg-color);
  color: #1a403f;

  height: 100%; /* Висота вікна перегляду */
  margin: 0;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  padding-left: 48px;
  padding-right: 48px;
  margin-left: auto;
  margin-right: auto;
}

.horizontal-scroll {
  display: flex; /* Розташування секцій горизонтально */
  height: calc(100vh - 110px); /* Висота між хедером і футером */
  margin-top: 80px; /* Відступ для хедера */
  margin-bottom: 30px; /* Відступ для футера */
  width: 100vw; /* Ширина viewport */
  scroll-behavior: auto; /* Плавна прокрутка */
  overflow-x: scroll;
  overflow-y: hidden; /* Горизонтальна прокрутка */
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Для браузера Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Для браузерів на основі WebKit (Chrome, Edge, Safari) */
}

.section {
  align-items: center;
  flex: none; /* Кожна секція займає однакову ширину */
  width: 100vw; /* Секція на всю ширину екрану */
  height: 100%; /*Секція на всю висоту екрану */
  display: flex;
}
a,
.link {
  text-decoration: none;
  color: var(--text-color);
}

.link:visited {
  color: var(--text-color);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */

.header {
  height: 80px;
  position: fixed; /* Закріплення зверху */
  top: 0;
  left: 0;
  width: 100%; /* На всю ширину екрану */
  z-index: 10; /* Щоб перекривати інший контент */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.header-text {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: -1;
}

/* hero */

.hero-container {
  display: flex;
  gap: 62px;
  align-items: center;
  justify-content: space-between;
}

.hero-section {
  padding-top: 24px;
  padding-bottom: 96px;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  max-width: 352px;
}

.hero-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -1;
  margin-bottom: 17px;
}

.hero-text {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 28px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #fff;
  border-radius: 50%;

  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.25px;
  line-height: normal;
  padding: 40px 40px;
  transition: background box-shadow 280ms ease;

  width: 80px;
  height: 80px;
}

.cta-button:hover,
.cta-button:focus {
  border-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset -8px -7px 10px #fff, inset 8px 7px 10px rgba(0, 0, 0, 0.15);
}

.back-btn{
  margin-top: 96px;
}

/* dreams section */

.content-wrap {
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: space-around;
}

.section-text-content {
  display: flex;
  flex-direction: column;
  max-width: 352px;
  gap: 18px;
}

.section-title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -1;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Висота футера */
  z-index: 10;
  display: flex;
  justify-content: space-around;
}

.post-item {
  display: flex;
  gap: 48px;
}

.post-text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 760px;

  text-align: justify;
}

.contacts-section {
  justify-content: start;
}

.contacts-container {
  display: flex;
  gap: 96px;
}

.form-container {
  width: 400px;
  background: var(--bg-color);
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark-color);
  font-weight: 400;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid var(--dark-color);
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}


.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #3c4043;
  font-weight: 400;
  width: 40%;
  background-color: #fff;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover,
.form-container .form-submit-btn:focus {
  border-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset -8px -7px 10px #fff, inset 8px 7px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .horizontal-scroll {
    display: block; /* Заміна flex на block */
    overflow-y: scroll; /* Вертикальна прокрутка */
    height: auto;
  }

  .section {
    width: 100%; /* Секції займають всю ширину */
    height: 80vh; /* Інша висота для мобільних */
  }
}
